{{template "start" .}}
<style>
    .card {
        width: 300px;
        max-width: 300px;
        min-width: 300px;
    }
</style>
<div class="container is-flex is-flex-direction-row is-flex-wrap-wrap">
    {{range .projects}}
    <div class="card is-flex-shrink-0 m-1">
        <div class="card-image">
        <figure class="image is-4by3">
            <img src="/models/render/{{.DefaultModel.SHA1}}" alt="Placeholder image">
        </figure>
        </div>
        <div class="card-content">
        <div class="media">
            <div class="media-content">
            <a class="title is-4" href="/discovery/{{.UUID}}">{{.Name}}</a>
            <!--<p class="subtitle is-6">@johnsmith</p>-->
            </div>
        </div>
        </div>
    </div>
    {{else}}
    <div class="card is-flex-shrink-0 m-1">
        <div class="card-content">
        <div class="media">
            <div class="media-content">
            <p class="title is-4">No new projects found</p>
            </div>
        </div>
    </div>
    {{end}}
</div>
{{template "end" .}}