{{define "model_list"}}

{{range .project.Models}}
<div class="card">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
            <figure class="image is-48x48">
                <img src="/models/render/{{.SHA1}}" alt="{{.Name}}" >
            </figure>
            </div>
            <div class="media-content">
            <p class="title is-4">{{.Name}}</p>
            </div>
        </div>
    </div>
    
    <footer class="card-footer">
        <a href="#" class="card-footer-item">Download</a>
        <a onclick="addObject('/models/get/{{.SHA1}}')" class="card-footer-item">3D View</a>
    </footer>
</div>
{{end}}

{{end}}