{{template "start" .}}
<style>
  .hero.has-background {
    position: relative;
    overflow: hidden;
  }
  .hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
  }
  .hero-background.is-transparent {
    opacity: 0.3;
  }
</style>
<section class="hero is-info has-background mb-5">
  <img class="hero-background is-transparent" src="/models/render/{{.project.DefaultModel.SHA1}}" />
  <div class="hero-body">
    <div class="container">
      <p class="title">
        {{.project.Name}}
      </p>
      {{with .project.ExternalLink}}
      <p class="subtitle">
        <a href="{{.}}">{{.}}</a>
      </p>
      {{else}}
      <p class="subtitle">
        &nbsp;
      </p>
      {{end}}
      {{range $index, $e := .project.Tags}}
        {{if (ge $index 5)}}
          {{break}}
        {{end}}
        <div class="tags has-addons">
          <span class="tag">{{$e.Name}}</span>
          <span class="tag is-primary">{{$e.Value}}</span>
        </div>
      {{end}}
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active">
            <a href="/projects/{{.project.UUID}}">Models</a>
          </li>
          <li>
            <a href="/projects/{{.project.UUID}}/slices">Slices</a>
          </li>
          <li>
            <a href="/projects/{{.project.UUID}}/images">Images</a>
          </li>
          <li>
            <a href="/projects/{{.project.UUID}}/edit">Edit</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<div class="columns">
    <div class="column is-two-fifths">
      {{template "model_list" .}}
    </div>
    <div class="column is-three-fifths" style="padding-right: 1.5rem">
      <div  id="3d-viewer"></div>
    </div>
</div>


{{template "stlViewer" .}}

{{template "end" .}}
